<!DOCTYPE html>
<html>
<head>
    <title>テキスト分析</title>
</head>
<body>
    <h1>テーマ別歌詞分析</h1>
    <form method="post">
        <label for="user_input1">1つ目のテーマを入力:</label>
        <input type="text" name="user_input1" id="user_input1">
        <br>
        <label for="user_input2">2つ目のテーマを入力:</label>
        <input type="text" name="user_input2" id="user_input2">
        <br>
        <label for="options">言語を選択してください：</label>
        <select id="options" name="lang_option">
            <option value="jp">日本語</option>
            <option value="eng">英語</option>
        </select>

        <button type="submit">分析</button>
    </form>

</body>
</html>