absl-py==2.0.0
annoy==1.17.3
appnope 
asttokens 
backcall 
beautifulsoup4==4.12.2
blinker==1.6.2
blis==0.7.8
boto3==1.28.80
botocore==1.31.80
bs4==0.0.1
cachetools==5.3.1
catalogue==2.0.7
certifi 
charset-normalizer==2.1.0
click==8.1.6
cloudpathlib==0.16.0
confection==0.1.3
contourpy==1.0.7
cycler==0.11.0
cymem==2.0.6
Cython 
deap==1.3.1
debugpy 
decorator 
diskcache==5.6.3
editdistance==0.6.2
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0-py3-none-any.whl
entrypoints 
et-xmlfile==1.1.0
executing 
filelock==3.13.1
Flask==2.3.2
Flask-Cors==4.0.0
fonttools==4.39.4
fsspec==2023.10.0
future==0.18.2
gensim==3.8.3
ginza==5.1.1
google-auth==2.23.3
google-auth-oauthlib==1.0.0
grpcio==1.59.0
h5py 
healthcheck==1.3.3
huggingface-hub==0.17.3
idna==3.3
importlib-metadata==6.8.0
importlib-resources==5.12.0
#install==1.3.5
ipykernel 
ipython 
itsdangerous==2.1.2
ja-ginza==5.1.0
japanize-matplotlib==1.1.3
jedi 
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.1.0
jsonpickle==3.0.1
jupyter_client 
jupyter_core 
keyboard==0.13.5
kiwisolver==1.4.4
langcodes==3.3.0
langdetect==1.0.9
llama_cpp_python==0.2.56
lxml==4.9.3
Markdown==3.5
MarkupSafe==2.1.1
matplotlib==3.7.1
matplotlib-inline 
mecab==0.996.3
mecab-python3==1.0.9
#memory-profiler 
#mkl-fft 
#mkl-random 
#mkl-service==2.4.0
mpmath==1.3.0
murmurhash==1.0.7
neologdn==0.5.1
nest-asyncio 
networkx==2.8.4
nltk==3.7
numpy 
oauthlib==3.2.2
openpyxl==3.0.10
packaging 
pandas==2.0.1
parso 
pathy==0.6.2
pexpect 
pickleshare 
Pillow==9.5.0
pke @ git+https://github.com/boudinfl/pke.git@5af1f817e0211c33ac3f90e1e86bb5c1283448e8
plac==1.3.5
preshed==3.0.6
prompt-toolkit 
protobuf==4.24.4
psutil 
ptyprocess 
pure-eval 
pyasn1==0.5.0
pyasn1-modules==0.3.0
pydantic==1.8.2
Pygments 
pynput==1.7.6
# pyobjc==10.0
# pyobjc-core==10.0
# pyobjc-framework-Accessibility==10.0
# pyobjc-framework-Accounts==10.0
# pyobjc-framework-AddressBook==10.0
# pyobjc-framework-AdServices==10.0
# pyobjc-framework-AdSupport==10.0
# pyobjc-framework-AppleScriptKit==10.0
# pyobjc-framework-AppleScriptObjC==10.0
# pyobjc-framework-ApplicationServices==10.0
# pyobjc-framework-AppTrackingTransparency==10.0
# pyobjc-framework-AudioVideoBridging==10.0
# pyobjc-framework-AuthenticationServices==10.0
# pyobjc-framework-AutomaticAssessmentConfiguration==10.0
# pyobjc-framework-Automator==10.0
# pyobjc-framework-AVFoundation==10.0
# pyobjc-framework-AVKit==10.0
# pyobjc-framework-BusinessChat==10.0
# pyobjc-framework-CalendarStore==10.0
# pyobjc-framework-CallKit==10.0
# pyobjc-framework-CFNetwork==10.0
# pyobjc-framework-ClassKit==10.0
# pyobjc-framework-CloudKit==10.0
# pyobjc-framework-Cocoa==10.0
# pyobjc-framework-Collaboration==10.0
# pyobjc-framework-ColorSync==10.0
# pyobjc-framework-Contacts==10.0
# pyobjc-framework-ContactsUI==10.0
# pyobjc-framework-CoreAudio==10.0
# pyobjc-framework-CoreAudioKit==10.0
# pyobjc-framework-CoreBluetooth==10.0
# pyobjc-framework-CoreData==10.0
# pyobjc-framework-CoreHaptics==10.0
# pyobjc-framework-CoreLocation==10.0
# pyobjc-framework-CoreMedia==10.0
# pyobjc-framework-CoreMediaIO==10.0
# pyobjc-framework-CoreMIDI==10.0
# pyobjc-framework-CoreML==10.0
# pyobjc-framework-CoreMotion==10.0
# pyobjc-framework-CoreServices==10.0
# pyobjc-framework-CoreSpotlight==10.0
# pyobjc-framework-CoreText==10.0
# pyobjc-framework-CoreWLAN==10.0
# pyobjc-framework-CryptoTokenKit==10.0
# pyobjc-framework-DeviceCheck==10.0
# pyobjc-framework-DictionaryServices==10.0
# pyobjc-framework-DiscRecording==10.0
# pyobjc-framework-DiscRecordingUI==10.0
# pyobjc-framework-DiskArbitration==10.0
# pyobjc-framework-DVDPlayback==10.0
# pyobjc-framework-EventKit==10.0
# pyobjc-framework-ExceptionHandling==10.0
# pyobjc-framework-ExecutionPolicy==10.0
# pyobjc-framework-ExternalAccessory==10.0
# pyobjc-framework-FileProvider==10.0
# pyobjc-framework-FileProviderUI==10.0
# pyobjc-framework-FinderSync==10.0
# pyobjc-framework-FSEvents==10.0
# pyobjc-framework-GameCenter==10.0
# pyobjc-framework-GameController==10.0
# pyobjc-framework-GameKit==10.0
# pyobjc-framework-GameplayKit==10.0
# pyobjc-framework-ImageCaptureCore==10.0
# pyobjc-framework-InputMethodKit==10.0
# pyobjc-framework-InstallerPlugins==10.0
# pyobjc-framework-InstantMessage==10.0
# pyobjc-framework-Intents==10.0
# pyobjc-framework-IOBluetooth==10.0
# pyobjc-framework-IOBluetoothUI==10.0
# pyobjc-framework-IOSurface==10.0
# pyobjc-framework-iTunesLibrary==10.0
# pyobjc-framework-KernelManagement==10.0
# pyobjc-framework-LatentSemanticMapping==10.0
# pyobjc-framework-LaunchServices==10.0
# pyobjc-framework-libdispatch==10.0
# pyobjc-framework-libxpc==10.0
# pyobjc-framework-LinkPresentation==10.0
# pyobjc-framework-LocalAuthentication==10.0
# pyobjc-framework-MapKit==10.0
# pyobjc-framework-MediaAccessibility==10.0
# pyobjc-framework-MediaLibrary==10.0
# pyobjc-framework-MediaPlayer==10.0
# pyobjc-framework-MediaToolbox==10.0
# pyobjc-framework-Metal==10.0
# pyobjc-framework-MetalKit==10.0
# pyobjc-framework-MetalPerformanceShaders==10.0
# pyobjc-framework-MetalPerformanceShadersGraph==10.0
# pyobjc-framework-MLCompute==10.0
# pyobjc-framework-ModelIO==10.0
# pyobjc-framework-MultipeerConnectivity==10.0
# pyobjc-framework-NaturalLanguage==10.0
# pyobjc-framework-NetFS==10.0
# pyobjc-framework-Network==10.0
# pyobjc-framework-NetworkExtension==10.0
# pyobjc-framework-NotificationCenter==10.0
# pyobjc-framework-OpenDirectory==10.0
# pyobjc-framework-OSAKit==10.0
# pyobjc-framework-OSLog==10.0
# pyobjc-framework-PassKit==10.0
# pyobjc-framework-PencilKit==10.0
# pyobjc-framework-Photos==10.0
# pyobjc-framework-PhotosUI==10.0
# pyobjc-framework-PreferencePanes==10.0
# pyobjc-framework-PushKit==10.0
# pyobjc-framework-Quartz==10.0
# pyobjc-framework-QuickLookThumbnailing==10.0
# pyobjc-framework-ReplayKit==10.0
# pyobjc-framework-SafariServices==10.0
# pyobjc-framework-SceneKit==10.0
# pyobjc-framework-ScreenSaver==10.0
# pyobjc-framework-ScreenTime==10.0
# pyobjc-framework-ScriptingBridge==10.0
# pyobjc-framework-SearchKit==10.0
# pyobjc-framework-Security==10.0
# pyobjc-framework-SecurityFoundation==10.0
# pyobjc-framework-SecurityInterface==10.0
# pyobjc-framework-ServiceManagement==10.0
# pyobjc-framework-Social==10.0
# pyobjc-framework-SoundAnalysis==10.0
# pyobjc-framework-Speech==10.0
# pyobjc-framework-SpriteKit==10.0
# pyobjc-framework-StoreKit==10.0
# pyobjc-framework-SyncServices==10.0
# pyobjc-framework-SystemConfiguration==10.0
# pyobjc-framework-SystemExtensions==10.0
# pyobjc-framework-UniformTypeIdentifiers==10.0
# pyobjc-framework-UserNotifications==10.0
# pyobjc-framework-UserNotificationsUI==10.0
# pyobjc-framework-VideoSubscriberAccount==10.0
# pyobjc-framework-VideoToolbox==10.0
# pyobjc-framework-Virtualization==10.0
# pyobjc-framework-Vision==10.0
# pyobjc-framework-WebKit==10.0
pyproject-toml==0.0.11
pyparsing 
Pyphen==0.10.0
python-dateutil 
python-Levenshtein==0.12.2
python-louvain==0.16
pytorch-pretrained-bert==0.6.2
pytz==2023.3
pyvis==0.2.1
PyYAML==6.0.1
pyzmq 
regex==2022.7.9
requests==2.28.1
requests-oauthlib==1.3.1
rsa==4.9
s3transfer==0.7.0
safetensors==0.4.0
scikit-learn==1.1.1
scipy==1.11.3
six 
sklearn==0.0
smart-open==5.2.1
soupsieve==2.4.1
spacy==3.2.3
spacy-legacy==3.0.12
spacy-loggers==1.0.3
spacy-syllables==3.0.1
srsly==2.4.3
stack-data 
SudachiDict-core==20220519
SudachiPy==0.6.5
sympy==1.12
tensorboard==2.14.1
tensorboard-data-server==0.7.1
textblob==0.17.1
thinc==8.0.12
threadpoolctl==3.1.0
tokenizers==0.14.1
torch==2.1.0
tornado 
tqdm==4.64.0
traitlets 
transformers==4.35.0
typer==0.4.2
typing_extensions==4.10.0
tzdata==2023.3
Unidecode==1.3.4
unidic-lite==1.0.8
urllib3==1.26.10
wasabi==0.9.1
wcwidth 
weasel==0.3.3
Werkzeug==2.3.6
wordcloud==1.9.2
zipp==3.15.0
